In [5]:
print("name:salvin cheriyan babu");
print("student number:102022");
print("email:salvin123@gmail.com");

name:salvin cheriyan babu
student number:102022
email:salvin123@gmail.com

In [17]:
print("name:salvin cheriyan babu\tstudent number:102022\temail:salvin123@gmail.com");

name:salvin cheriyan babu	student number:102022	email:salvin123@gmail.com

In [50]:
a=14;
b=7;
z=a+b;
x=a-b;
y=a*b;
w=a/b;

print(z);
print(x);
print(y);
print(w);

21
7
98
2.0

In [54]:
print("1\t2\t3\t4\t5");

1	2	3	4	5

In [56]:
print("\"SDK\" stands for \"Software Development Kit\", whereas \"IDE\" stands for \"Integrated Development Environment\".")

"SDK" stands for "Software Development Kit", whereas "IDE" stands for "Integrated Development Environment".

In [68]:
print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65") 
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri
5
e
Entri
2023
Entr2023
Entri*20

In [85]:
num=23 
textnum="57"
decimal=98.3
print(type(num));
print(type(textnum));
print(type(decimal));

<class 'int'>
<class 'str'>
<class 'float'>

In [105]:
days_in_year=365
minute_in_hour=60
hours_in_day=24
min_in_year=days_in_year*minute_in_hour*hours_in_day
print("total miniutes in a year:",min_in_year);

total miniutes in a year: 525600

In [119]:
a=input(" Please enter you name:");
print("hi", a+ " welcome to Python programming ")

 Please enter you name: salvin

hi salvin welcome to Python programming

In [133]:
print("pounds to dollars");
p=float(input("Please enter amount in pounds:"))
D=1.2919;
dollars=p*D;
print("USD:",dollars);

pounds to dollars

Please enter amount in pounds: 3

USD: 3.8757